.items{
    flex: 0;
    display: flex;
    flex-direction: row;
    width: 700px;
    justify-content: center;
    align-items: center;
    background-color:rgb(241, 25, 25);
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 0;
    padding: 20px;
  }